@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Tapchi.Modules.TapchiDataModel.Models.GopY>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    Cảm ơn bạn đã đóng góp ý kiến, chúng tôi sẽ ghi nhận ý kiến và xử lý.
</div>
