@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Tapchi.Modules.TapchiDataModel.Models.DatBao>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div id="Items-@Dnn.ModuleContext.ModuleId">
    Cảm ơn bạn đã đặt báo của chúng tôi, chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất.
</div>
