@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Tapchi.Modules.TapchiDataModel.Models.DanhMuc>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

<div id="Item-@Dnn.ModuleContext.ModuleId">
    <div class="warning center">
        <p>Yêu cầu của bạn hệ thống chưa kịp xử lí hoặc nội dung không tìm thấy!</p>
        <p>Bạn vui lòng <a href="/">bấm vào đây</a> để quay về trang chủ.</p>
    </div>
</div>
